*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:"Open Sans", sans-serif;
}

.head{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items:center;
    min-height: 100vh;
    padding:100px;
    transition: 0.5s;

}
header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display: flex;
    padding:20px 100px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    
}
header .logo{
    color:rgb(5, 124, 171);
    font-weight: 500;
    font-size:1.8rem;
    text-decoration: none;
    transition: 1s;
}
header ul{
    margin-left:50px;
    display: flex;
    justify-content: center;
    gap:60px;
}

header ul li{
    text-decoration: none;
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.2rem;
    transition:0.5s;
}
.content{
    position:relative;
    max-width:770px;

}
.content h2{
    font-size:5.5em;
    color: #362b2b;
    transition:0.5s;
}
.content span{
    color:rgb(20, 113, 150);
}
.content p{
    font-size:1.5rem;
    margin:10px;
    transition:0.5s;

}
.dayNight{
    position:absolute;
    bottom:25px;
    left:;
    font-size:25px;
    height: 60px;
    width:60px;
    border-radius:50%;
    background-color: rgb(173, 173, 173);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    transition: 0.5s;
}
.dayNight i:nth-child(2),
.head.night .dayNight i:nth-child(1){
    display: none;

}
.head.night .dayNight i:nth-child(2)
{
    display:block;
}
.night{
    background: #333;
}
.head.night .dayNight{
    color: #fff;
    background: #333;
}
.head.night header .logo,
.head.night .content h2,
.head.night .content p,
.head.night header ul li a{
    color: #fff;
}
.img{
    position:absolute;
    right:200px;
    border-radius:50%;
    
    

}
img{
    border-radius:50%;
    display: flex;
    position:relative;
    bottom:-5.5rem;
    right:-2rem;
    height:300px;
    width:300px;
    /*border:8px solid rgb(5, 124, 171);
   /* box-shadow:5px 5px 200px  rgb(5, 124, 171);*/
}
img:hover{
    border: 20px solid rgb(5,124,171);
    box-shadow: 5px 5px 50px rgb(5, 124, 171);
    transition:2s ease-in-out 0.5s;
}
.about{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:40px;
}